name: Docker CI
on:
  push:
    branches:
    - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    -
      uses: actions/checkout@master
    -
      name: Build and push huntsmanarray/drp-lsst:develop image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: huntsmanarray/drp-lsst:develop
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/Dockerfile
    -
      name: Build and push huntsmanarray/drp:develop image
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: huntsmanarray/drp:develop
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        dockerfile: docker/screener/Dockerfile
